#roulette{
    width: 320px;
    height: 320px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#roulette>img{
    width: 320px;
    height: 320px;
    position: absolute;
}

#roulette-light_orange,#roulette-light_white{
    opacity: 0;
}

/*#roulette-start{*/
    /*transform:scale(1,1);*/
    /*-ms-transform:scale(1,1); 	/!* IE 9 *!/*/
    /*-moz-transform:scale(1,1); 	/!* Firefox *!/*/
    /*-webkit-transform:scale(1,1); /!* Safari 和 Chrome *!/*/
    /*-o-transform:scale(1,1);*/
/*}*/

/*#roulette-start:active{*/
    /*transform:scale(0.7,0.7);*/
    /*-ms-transform:scale(0.7,0.7); 	/!* IE 9 *!/*/
    /*-moz-transform:scale(0.7,0.7); 	/!* Firefox *!/*/
    /*-webkit-transform:scale(0.7,0.7); /!* Safari 和 Chrome *!/*/
    /*-o-transform:scale(0.7,0.7);*/
/*}*/